body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #444;
}

#header {
    font-size: 16vmin;
    font-family: sans-serif;
    padding: 2.5vmin;
    background-image: url(/images/header.jpg);
    height: 25vmin;
    background-position: center;
    background-size: cover;
}

#board {
    width: 80vmin;
    margin: 4em auto 2em auto;
    line-height: 0px;
    position: relative;
}

.tiles {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
    height: 80vmin;
}

.tile {
    width: 10vmin;
    height: 10vmin;
    display: inline-block;
}

.light {
    background-color: #ca7;
    color: #ca7;
}

.dark {
    background-color: #964;
    color: #964;
}

.light.selected {
    background-color: #9ad;
}

.dark.selected {
    background-color: #88b;
}

.light.previous {
    background-color: #9bc;
}

.dark.previous {
    background-color: #8aa;
}

#labels {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: sans-serif;
    font-size: 2.5vmin;
}

#ranks {
    width: 10vmin;
    top: 1.5vmin;
    left: 0.35vmin;
    position: absolute;
}

#files {
    text-align: right;
    position: absolute;
    top: 78.6vmin;
    left: -0.32vmin;
    width: 80vmin;
}

#files > :nth-child(7) {
    position: relative;
    top: -0.3vmin;
}

.label {
    display: inline-block;
    width: 10vmin;
    height: 10vmin;
    background-color: unset !important;
}

#reset {
    margin: 0.8em auto;
    display: block;
    font-size: 2.1vmin;
    width: 16vmin;
    height: 4vmin;
}

.dialogButton {
    margin: 1vmin;
}

.dialogPieceIcon {
    width: 12vmin;
    height: 12vmin;
}

#changelog {
    padding: 1em;
    font-size: 1.2em;
    line-height: 1.5;
    font-family: sans-serif;
}

ul {
    margin: 0;
}

#footer {
    margin: 1em 0 0 0;
    background-color: #eee;
    padding: 1.3em;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.footer-item {
    flex: 1;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}