body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #000;
}

#header {
    font-size: 3em;
    font-family: sans-serif;
    padding: 0.2em;
}

#board {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15);
    width: 80vmin;
    height: 80vmin;
    margin: 8vmin auto;
    line-height: 0px;
}

.tile {
    width: 10vmin;
    height: 10vmin;
    display: inline-block;
}

.light {
    background-color: #ca7;
}

.dark {
    background-color: #964;
}

#footer {
    margin: 1em 0 0 0;
    background-color: #eee;
    padding: 1.2em;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.footer-item {
    flex: 1;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}